In [2]:
import pickle
import pandas as pd

In [3]:
bg_path = '/home/jupyter/work/openaps/data/99908129/direct-sharing-31/entries_2017-01-01_to_2017-10-24.json'
df_bg = pd.read_json(bg_path)

In [4]:
df_bg.head()

,_id,_tell,body,date,dateString,date_type,device,direction,display_time,glucose,name,op,packet_size,raw,sgv,trend,trend_arrow,type
0,59ee817e32c555f2c8aae2ac,NaN,NaN,2017-10-23 23:55:08,2017-10-23T23:55:08.000Z,NaN,share2,SingleUp,NaT,NaN,NaN,NaN,NaN,NaN,190,2.0,NaN,sgv
1,59ee805232c555f2c8aaddf2,NaN,NaN,2017-10-23 23:50:08,2017-10-23T23:50:08.000Z,NaN,share2,DoubleUp,NaT,NaN,NaN,NaN,NaN,NaN,187,1.0,NaN,sgv
2,59ee7f2732c555f2c8aad933,NaN,NaN,2017-10-23 23:45:08,2017-10-23T23:45:08.000Z,NaN,share2,DoubleUp,NaT,NaN,NaN,NaN,NaN,NaN,178,1.0,NaN,sgv
3,59ee7dfb32c555f2c8aad467,NaN,NaN,2017-10-23 23:40:07,2017-10-23T23:40:07.000Z,NaN,share2,SingleUp,NaT,NaN,NaN,NaN,NaN,NaN,163,2.0,NaN,sgv
4,59ee7cce32c555f2c8aacf7e,NaN,NaN,2017-10-23 23:35:08,2017-10-23T23:35:08.000Z,NaN,share2,FortyFiveUp,NaT,NaN,NaN,NaN,NaN,NaN,145,3.0,NaN,sgv

In [6]:
df_bgs = df_bg[['date', 'sgv']]

In [19]:
df_bgs = df_bgs.sort_values(by = 'date')

In [ ]:
df_bg_99908129 = pickle.load(open('data/entries_99908129.pkl', 'rb'))

In [8]:
df_bg_20396154 = pickle.load(open('data/entries_20396154_2.pkl', 'rb'))

In [14]:
df_bg_20396154.tail()

                   datetime  sgv
4 2018-12-19 20:35:04+00:00  147
3 2018-12-19 20:40:04+00:00  149
2 2018-12-19 20:45:04+00:00  148
1 2018-12-19 20:50:04+00:00  143
0 2018-12-19 20:55:04+00:00  137